<h2>수정 페이지 입니다.</h2>

<% if false %>
<form action='/home/update/<%=@post.id%>' method='post'>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    제목 : <input type="text" name="post_title" value='<%=@post.title%>'> <br> 
    내용 : <textarea name="post_content"><%=@post.content%></textarea> <br>
    <input type="submit" value="수정">
</form>

<%# rails의 form_tag 활용 %>
<%=form_tag(post_path, method:'patch') do%>
    <%=label_tag 'post_title', '제목'%>
    <%=text_field_tag 'post_title', @post.title %> <br>
    <%=label_tag 'post_content', '내용'%>
    <%=text_area_tag 'post_content', @post.content %> <br>
    <%= submit_tag '수정' %>
<%end %>
<%end%>

<%=render 'form'%>